* {
  margin: 0;
  padding: 0;
}

main {
  background-image: url('../public/cover.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px; /* Add padding for better spacing */
}

.App-container {
  height: auto; /* Change height to auto to allow content to dictate height */
  max-width: 800px; /* Set maximum width to limit container size */
  width: 90%; /* Set width to percentage for responsiveness */
  background: rgba(2, 2, 2, 0.7); 
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px; /* Add padding for better spacing */
}

button {
  width: 100%; /* Set button width to 100% for responsiveness */
  max-width: 240px; /* Set maximum width for larger screens */
  padding: 12px;
  border: none;
  border-radius: 26px;
  background-color: #e30574;
  color: #fff;
  font-size: 26px;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
}

h2 {
  color: #ff0000;
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
  .App-container {
    width: 90%; /* Adjust container width for smaller screens */
  }

  button {
    font-size: 20px; /* Adjust font size for smaller screens */
    max-width: 200px; /* Adjust maximum button width for smaller screens */
  }
}
